.content-block {
    text-align: center;
}

.content-block h1 {
    font-size: clamp(1.313rem, -0.34rem + 7.34vw, 4.25rem);
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

#counter {
    display: block;
    font-size: 20px;
}

#screen-message {
    display: inline-block;
    margin-bottom: 20px;
}

#instruction-text {
    display: block;
    text-align: center;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    margin-top: 10px;
}

#main-screen {
    width: 100%;
    height: 30vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px 0;
    background-color: #E2E3E5;
}

.button_inSoundPage {
    margin-top: 10px;
}

#timer {
    display: block;
    margin: 10px 0;
}

#main-btn {
    width: 100%;
    min-width: 100px;
    height: 45px;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 20px -20px;
    cursor: pointer;
    background-color: #F5E989;
    transition: all 0.2s ease-in-out;
    user-select: none;
    font-family: Montserrat, sans-serif;
    margin-bottom: 10px;
}

#main-btn:hover {
    background-color: #EFDD4E;
}

.res-table {
    width: 100%;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.res-table td {
    padding-top: 10px;
}

.res-table.highlight {
    animation: flash 2s ease-in-out;
}

footer {
    margin-top: 20px;
    margin-bottom: -20px;
}

@keyframes flash {
    0% {
        background-color: #F5E989;
    }
    50% {
        background-color: #8FB8F6;
    }
    100% {
        background-color: transparent;
    }
}

@media (max-width: 340px) {
    .nav-link {
        padding: 6px 9px;
    }

    .nav-icon {
        width: 17px;
        height: 17px;
    }
}
